<!DOCTYPE html>
<html>

<head>
    <title>Booking Successful!</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body style = "padding-top: 100px;">
    <%- include("../Public/header.ejs") %>
    <div style="text-align: center;">
    <H1>Booking Successful!</H1>
    <button onclick="window.location.href='/userBookings'">Go to your bookings</button>
    </div>
</body>
</html>